html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

img.frame {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
    filter: FlipH;
    opacity: .1;
}

#output {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}